:root {
  --font-family: "Inter", sans-serif;
  --container-width: 1200px;
  --padding-global: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #000000f5;
}

p {
  color: #000000f5;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 32px; */
  overflow: hidden;
}
