:root {
  --font-family: "Inter", sans-serif;
  /* --font-size: 13px; */
  --container-width: 1200px;
  --padding-global: 0 24px;
  --background-color: rgb(199, 229, 211);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
  padding: var(--padding-global);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #000000f5;
}

p {
  color: #000000f5;
  /* line-height: 1.8; */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
