<section class="hero">
  <div class="wrap-banner">
    <ul class="banner-list">
      <li class="banner-item">
        <h1 class="banner-title">Online Loan for Business</h1>
        <img
          src="../img/body_banner/1_online-credit_small.png"
          alt="Online Loan for Business"
        />
        <p class="banner-text">
          Issue the loan in a few clicks without visiting the bank branch
          <br />
          <br />
          Check your offer in the new web-version of «Privat24 for Business»
        </p>
        <button type="button" class="btn-more-banner">More details</button>
      </li>

      <li class="banner-item">
        <h1 class="banner-title">Salary Project</h1>
        <img
          src="../img/body_banner/2_salary-project_small.png"
          alt="Online Loan for Business"
        />
        <p class="banner-text">
          Pay salaries via Privat24 for Business without fee for salary project
          cash settlement transactions
        </p>
        <button type="button" class="btn-more-banner">More details</button>
      </li>
    </ul>

    <div class="btn-nav-banner">
      <div class="wr-btn-nav-left">
        <button class="btn-nav-left" type="button"></button>
      </div>
      <!-- <button class="btn-nav-left" type="button"></button> -->
      <div class="wr-btn-nav-text">
        <p class="btn-nav-text">1/7</p>
      </div>
      <div class="wr-btn-nav-right">
        <button class="btn-nav-right" type="button"></button>
      </div>
    </div>
  </div>

  <div class="wrap-news-calc">
    <div class="wrap-news"></div>
    <div class="wrap-currency-calc"></div>
  </div>
  <div class="wrap-app-avtoriz"></div>
</section>
