<section class="hero">
  <div class="wr-hero">
    <div class="wr-banner-swiper">
      <div class="swiper wrap-banner">
        <ul class="banner-list swiper-wrapper">
          <li class="banner-item swiper-slide">
            <h1 class="banner-title">Online Loan for Business</h1>
            <img
              src="../img/body_banner/1_online-credit_small.png"
              alt="Online Loan for Business"
            />
            <p class="banner-text">
              Issue the loan in a few clicks without visiting the bank branch
              <br />
              <br />
              Check your offer in the new web-version of «Privat24 for Business»
            </p>
            <button type="button" class="btn-more-banner">More details</button>
          </li>

          <li class="banner-item swiper-slide">
            <h1 class="banner-title">Salary Project</h1>
            <img
              src="../img/body_banner/2_salary-project_small.png"
              alt="Online Loan for Business"
            />
            <p class="banner-text">
              Pay salaries via Privat24 for Business without fee for salary
              project cash settlement transactions
            </p>
            <button type="button" class="btn-more-banner">More details</button>
          </li>

          <li class="banner-item swiper-slide">
            <h1 class="banner-title">«Privat24 for Business» mobile app</h1>
            <img
              src="../img/body_banner/3_mobApp_small.png"
              alt="«Privat24 for Business» mobile app"
            />
            <p class="banner-text">Manage business from your smartphone</p>
            <button type="button" class="btn-more-banner">More details</button>
          </li>

          <li class="banner-item swiper-slide">
            <h1 class="banner-title">Loan for Energetic Autonomy</h1>
            <img
              src="../img/body_banner/4_energy-independence_small.png"
              alt="Energetic Autonomy"
            />
            <p class="banner-text">
              Additional funds for purchasing energy generation systems.
            </p>
            <button type="button" class="btn-more-banner">More details</button>
          </li>

          <li class="banner-item swiper-slide">
            <h1 class="banner-title">
              Support the Ukrainian army in any part of the world!
            </h1>
            <img
              src="../img/body_banner/5_zsu_small.png"
              alt="Support the Ukrainian army"
            />
            <p class="banner-text">
              «Charity» widget at the enterprise selection page.
            </p>
            <button type="button" class="btn-more-banner">More details</button>
          </li>

          <li class="banner-item swiper-slide">
            <h1 class="banner-title">SmartID</h1>
            <img src="../img/body_banner/6_smart-ID_small.png" alt="SmartID" />
            <p class="banner-text">
              Free and safe cloud keys for digital signing.
              <br />
              Sign electronic documents instantly without flash drives and
              plugins!
            </p>
            <button type="button" class="btn-more-banner">More details</button>
          </li>

          <li class="banner-item swiper-slide">
            <h1 class="banner-title">Reporting Calendar</h1>
            <img
              src="../img/body_banner/7_calendar_small.png"
              alt="Reporting Calendar"
            />
            <p class="banner-text">
              Will remind you about deadlines пfor submitting reports to the tax
              office or statistics service.
            </p>
            <button type="button" class="btn-more-banner">More details</button>
          </li>
        </ul>

        <div class="btn-nav-banner">
          <div class="wr-btn-nav-prev swiper-button-prev">
            <button
              class="btn-nav-prev"
              tabindex="0"
              aria-label="Next slide"
              aria-controls="swiper-wrapper-8f35ea7d1067bd1a"
            ></button>
          </div>

          <div class="wr-btn-nav-text">
            <p class="btn-nav-text">
              <span id="current">1</span>/<span id="total">7</span>
            </p>
          </div>

          <div class="wr-btn-nav-next swiper-button-next">
            <button
              class="btn-nav-next"
              tabindex="0"
              aria-label="Next slide"
              aria-controls="swiper-wrapper-8f35ea7d1067bd1a"
            ></button>
          </div>
        </div>
      </div>
    </div>

    <div class="wrap-news-calc">
      <div class="wrap-news">
        <div class="wrap-news-title">
          <h2 class="title-news">News</h2>
          <button class="btn-show-all" id="goToNewsShowAll">Show all</button>
        </div>

        <div class="wrap-news-content">
          <div class="wrap-news-title-text">
            <button class="btn-news-content" id="goToNewsShowOne" type="button">
              Технічні роботи. Все зламалось?
            </button>

            <p class="title-text-news">
              Нічого не зламалось, але ми покращуємо наші сервіси, тому у період
              03.07.2025 22:00 - 04.07.2025 01:00 можуть бути складнощі в роботі
              «Приват24 для бізнесу», а саме генерація та підпис за допомогою
              ключів КЕП/УЕП
            </p>
          </div>

          <p class="title-date-news">04.07.2025</p>
        </div>
      </div>
      <div class="wrap-currency-calc"></div>
    </div>
  </div>

  <div class="news-show-all">
    <div class="wr-news-show-all">
      <button class="btn-back go-to-wr-hero" type="button">
        <img
          src="../img/body_banner/arrow_back_32.svg"
          alt="Back"
          width="32"
          height="32"
        />
      </button>

      <h2 class="news-show-all-title">News</h2>
    </div>

    <ul class="news-show-all-list">
      <li class="news-show-all-item">
        <button class="btn-news-show-all-title" type="button" data-newid="1">
          Information about private entrepreneurs registration in the
          “Verification of Individuals” service
        </button>
        <p class="news-show-all-text">
          Now, you can check the registration of a private entrepreneur in the
          “Verification of Individuals” service based on the data from the
          Unified State Register.💡 What opportunities do you get✅ Viewing
          contracts. Legal terms of cooperation with private entrepreneurs are
          different from the terms of cooperation with individuals. So it is
          important to know with whom you are concluding the contract and doing
        </p>
        <p class="news-show-all-date">08.07.2025</p>
      </li>

      <li class="news-show-all-item">
        <button class="btn-news-show-all-title" type="button" data-newid="2">
          Технічні роботи. Все зламалось?
        </button>
        <p class="news-show-all-text">
          Нічого не зламалось, але ми покращуємо наші сервіси, тому у період
          03.07.2025 22:00 - 04.07.2025 01:00 можуть бути складнощі в роботі
          «Приват24 для бізнесу», а саме генерація та підпис за допомогою ключів
          КЕП/УЕП
        </p>
        <p class="news-show-all-date">04.07.2025</p>
      </li>

      <li class="news-show-all-item">
        <button class="btn-news-show-all-title" type="button" data-newid="3">
          Need to sign all your payments at a time?
        </button>
        <p class="news-show-all-text">
          Now, in the updated web-version of Privat24 for Business, you can
          quickly sign an unlimited number of payments with the SmartID. How to
          sign all payments at a time Open the “Saved” or “For signing” tab and
          tick the checkbox in the action bar.Click the “Select all”
          button.Click “Sign”, then select “Sign with the SmartID and send” or
          “Sign with the SmartID without sending”. You will see the progress of
          the payment signing process at the top of the
        </p>
        <p class="news-show-all-date">27.06.2025</p>
      </li>
    </ul>
  </div>

  <div class="news-show-one" hidden data-newid="1">
    <div class="wr-news-show-one">
      <button class="btn-back go-to-wr-hero" type="button">
        <img
          src="../img/body_banner/arrow_back_32.svg"
          alt="Back"
          width="32"
          height="32"
        />
      </button>

      <h2 class="news-show-one-title">
        Information about private entrepreneurs registration in the
        “Verification of Individuals” service
      </h2>
    </div>

    <div class="news-show-one-wr">
      <p class="news-show-one-text">
        Now, you can check the registration of a private entrepreneur in the
        “Verification of Individuals” service based on the data from the Unified
        State Register.
        <br />
        💡 What opportunities do you get
        <br />
        ✅ Viewing contracts. Legal terms of cooperation with private
        entrepreneurs are different from the terms of cooperation with
        individuals. So it is important to know with whom you are concluding the
        contract and doing business.
        <br />
        ✅ Avoiding tax risks. Cooperation with a person as an individual when
        he/she is a private entrepreneur may result in consequences for your tax
        reporting.
        <br />
        ✅ Exposing hidden entrepreneurial activity. You will be able to
        identify “gray” schemes in time and minimize business risks.

        <br />
        How to use
        <br />
        1. Log in to Privat24 for Business and go to the “Verification of
        Individuals” service:
        <br />
        in the web-version: “Service Catalog” menu – Partners”;
        <br />
        in the mobile application: “Services” menu.
        <br />
        2. Enter the individual’s data (full name and TIN, or full name and date
        of birth).
        <br />
        3. Click “Search”. The information will be available in the “Information
        about private entrepreneurs” section.

        <br />
        The “Verification of Individuals” service provides a complete report
        containing all the important information about a person, based on the
        data from official sources. Find More details on the website.

        <br />
        👤 Do not risk, check your partners, clients or potential employees
        comprehensively.
        <br />
        The service is provided by PrivatBank partner – Ukrainian Credit History
        Bureau.
      </p>
      <p class="news-show-one-tag">#beremo_i_robymo</p>
      <p class="news-show-one-date">08.07.2025</p>
    </div>
  </div>

  <div class="news-show-one" hidden data-newid="2">
    <div class="wr-news-show-one">
      <button class="btn-back go-to-wr-hero" type="button">
        <img
          src="../img/body_banner/arrow_back_32.svg"
          alt="Back"
          width="32"
          height="32"
        />
      </button>

      <h2 class="news-show-one-title">Технічні роботи. Все зламалось?</h2>
    </div>

    <div class="news-show-one-wr">
      <p class="news-show-one-text">
        Нічого не зламалось, але ми покращуємо наші сервіси, тому у період
        03.07.2025 22:00 - 04.07.2025 01:00 можуть бути складнощі в роботі
        «Приват24 для бізнесу», а саме генерація та підпис за допомогою ключів
        КЕП/УЕП
      </p>
      <p class="news-show-one-tag">Your PrivatBank</p>
      <p class="news-show-one-date">04.07.2025</p>
    </div>
  </div>

  <!-- <div class="wrap-app-avtoriz"></div> -->
</section>
